# ì—°ìŠµë¬¸ì œ í’€ì´

In [23]:
from pandas import read_excel
import os, sys

import sys
sys.path.append("../../")
from helper import myOls

## ë¬¸ì œ 1

### ë°ì´í„° ê°€ì ¸ì˜¤ê¸°

In [24]:
df = read_excel("https://data.hossam.kr/E04/beans.xlsx")
df.head()

   ìˆ˜ë¶„í•¨ìœ ëŸ‰  ê°•ë„
0     36  29
1     40  32
2     34  29
3     44  40
4     33  31

### íšŒê·€ë¶„ì„ ìˆ˜í–‰

In [25]:
ols_result = myOls(df, x="ìˆ˜ë¶„í•¨ìœ ëŸ‰", y="ê°•ë„")
print(ols_result.summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                     ê°•ë„   R-squared:                       0.789
Model:                            OLS   Adj. R-squared:                  0.762
Method:                 Least Squares   F-statistic:                     29.85
Date:                Mon, 28 Aug 2023   Prob (F-statistic):           0.000599
Time:                        15:27:50   Log-Likelihood:                -19.614
No. Observations:                  10   AIC:                             43.23
Df Residuals:                       8   BIC:                             43.83
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.4991      4.707      1.168      0.276      -5.355      16.353
ìˆ˜ë¶„í•¨ìœ ëŸ‰          0.7123      0.130      5.463      0.001       0.412       1.013
==============================================================================
Omnibus:                        0.502   Durbin-Watson:                   1.420
Prob(Omnibus):                  0.778   Jarque-Bera (JB):                0.530
Skew:                           0.264   Prob(JB):                        0.767
Kurtosis:                       2.004   Cond. No.                         280.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\MegaIT302-02\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_stats_py.py:1806: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

### ê²°ê³¼ë³´ê³

In [26]:
ols_result.table

                 B   í‘œì¤€ì˜¤ì°¨  Î²       t   ìœ ì˜í™•ë¥          VIF
ì¢…ì†ë³€ìˆ˜ ë…ë¦½ë³€ìˆ˜
ê°•ë„   ìˆ˜ë¶„í•¨ìœ ëŸ‰  0.7123  0.130  0  5.463*  0.001  281.470727

In [27]:
ols_result.result

'ğ‘…(0.789), ğ‘…^2(0.762), ğ¹(29.85), ìœ ì˜í™•ë¥ (0.000599), Durbin-Watson(1.420)'

In [28]:
ols_result.goodness

'ê°•ë„ì— ëŒ€í•˜ì—¬ ìˆ˜ë¶„í•¨ìœ ëŸ‰ë¡œ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ë¶„ì„ì„ ì‹¤ì‹œí•œ ê²°ê³¼, ì´ íšŒê·€ëª¨í˜•ì€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤(F(1,8) = 29.85, p < 0.05).'

In [29]:
ols_result.varstr

['ìˆ˜ë¶„í•¨ìœ ëŸ‰ì˜ íšŒê·€ê³„ìˆ˜ëŠ” 0.7123(p<0.05)ë¡œ, ê°•ë„ì— ëŒ€í•˜ì—¬ ìœ ì˜ë¯¸í•œ ì˜ˆì¸¡ë³€ì¸ì¸ ê²ƒìœ¼ë¡œ ë‚˜íƒ€ë‚¬ë‹¤.']

## ë¬¸ì œ 2

In [30]:
df = read_excel("https://data.hossam.kr/E04/aircon.xlsx")
df.head()

   ì˜ˆì•½ëŒ€ìˆ˜  íŒë§¤ëŒ€ìˆ˜
0    19    33
1    23    51
2    26    40
3    29    49
4    30    50

In [31]:
ols_result2 = myOls(df, x="ì˜ˆì•½ëŒ€ìˆ˜", y="íŒë§¤ëŒ€ìˆ˜")
print(ols_result2.summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   íŒë§¤ëŒ€ìˆ˜   R-squared:                       0.897
Model:                            OLS   Adj. R-squared:                  0.884
Method:                 Least Squares   F-statistic:                     69.40
Date:                Mon, 28 Aug 2023   Prob (F-statistic):           3.26e-05
Time:                        15:27:50   Log-Likelihood:                -32.667
No. Observations:                  10   AIC:                             69.33
Df Residuals:                       8   BIC:                             69.94
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.0689      7.113      0.713      0.496     -11.333      21.471
ì˜ˆì•½ëŒ€ìˆ˜           1.5751      0.189      8.331      0.000       1.139       2.011
==============================================================================
Omnibus:                        1.408   Durbin-Watson:                   2.910
Prob(Omnibus):                  0.495   Jarque-Bera (JB):                0.497
Skew:                          -0.541   Prob(JB):                        0.780
Kurtosis:                       2.849   Cond. No.                         119.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\Users\MegaIT302-02\AppData\Local\Programs\Python\Python311\Lib\site-packages\scipy\stats\_stats_py.py:1806: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

### ê²°ê³¼ë³´ê³

In [32]:
ols_result2.table

                B   í‘œì¤€ì˜¤ì°¨  Î²       t   ìœ ì˜í™•ë¥        VIF
ì¢…ì†ë³€ìˆ˜ ë…ë¦½ë³€ìˆ˜
íŒë§¤ëŒ€ìˆ˜ ì˜ˆì•½ëŒ€ìˆ˜  1.5751  0.189  0  8.331*  0.000  96.84388

In [33]:
ols_result2.result

'ğ‘…(0.897), ğ‘…^2(0.884), ğ¹(69.40), ìœ ì˜í™•ë¥ (3.26e-05), Durbin-Watson(2.910)'

In [34]:
ols_result2.goodness

'íŒë§¤ëŒ€ìˆ˜ì— ëŒ€í•˜ì—¬ ì˜ˆì•½ëŒ€ìˆ˜ë¡œ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ë¶„ì„ì„ ì‹¤ì‹œí•œ ê²°ê³¼, ì´ íšŒê·€ëª¨í˜•ì€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤(F(1,8) = 69.40, p < 0.05).'

In [35]:
ols_result2.varstr

['ì˜ˆì•½ëŒ€ìˆ˜ì˜ íšŒê·€ê³„ìˆ˜ëŠ” 1.5751(p<0.05)ë¡œ, íŒë§¤ëŒ€ìˆ˜ì— ëŒ€í•˜ì—¬ ìœ ì˜ë¯¸í•œ ì˜ˆì¸¡ë³€ì¸ì¸ ê²ƒìœ¼ë¡œ ë‚˜íƒ€ë‚¬ë‹¤.']

### ëª¨ë¸ êµ¬ì¶•

In [36]:
ì˜ˆì•½ëŒ€ìˆ˜ = 150
5.0689 + 1.5751 * ì˜ˆì•½ëŒ€ìˆ˜

241.3339

In [37]:
ols_result2.fit.predict({"ì˜ˆì•½ëŒ€ìˆ˜": [150]})

0    241.334067
dtype: float64

## ë¬¸ì œ3

In [38]:
df = read_excel("https://data.hossam.kr/E04/galton.xlsx")
df.head()

   child  parent
0   61.7    70.5
1   61.7    68.5
2   61.7    65.5
3   61.7    64.5
4   61.7    64.0

In [39]:
ols_result3 = myOls(df, x="parent", y="child")
print(ols_result3.summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  child   R-squared:                       0.210
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     246.8
Date:                Mon, 28 Aug 2023   Prob (F-statistic):           1.73e-49
Time:                        15:27:50   Log-Likelihood:                -2063.6
No. Observations:                 928   AIC:                             4131.
Df Residuals:                     926   BIC:                             4141.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     23.9415      2.811      8.517      0.000      18.425      29.458
parent         0.6463      0.041     15.711      0.000       0.566       0.727
==============================================================================
Omnibus:                       11.057   Durbin-Watson:                   0.046
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               10.944
Skew:                          -0.241   Prob(JB):                      0.00420
Kurtosis:                       2.775   Cond. No.                     2.61e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.61e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [40]:
ols_result3.table

                   B   í‘œì¤€ì˜¤ì°¨  Î²        t   ìœ ì˜í™•ë¥          VIF
ì¢…ì†ë³€ìˆ˜  ë…ë¦½ë³€ìˆ˜
child parent  0.6463  0.041  0  15.711*  0.000  860.967904

In [41]:
ols_result3.result

'ğ‘…(0.210), ğ‘…^2(0.210), ğ¹(246.8), ìœ ì˜í™•ë¥ (1.73e-49), Durbin-Watson(0.046)'

In [42]:
ols_result3.goodness

'childì— ëŒ€í•˜ì—¬ parentë¡œ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ë¶„ì„ì„ ì‹¤ì‹œí•œ ê²°ê³¼, ì´ íšŒê·€ëª¨í˜•ì€ í†µê³„ì ìœ¼ë¡œ ìœ ì˜í•˜ë‹¤(F(1,926) = 246.8, p < 0.05).'

In [43]:
ols_result3.varstr

['parentì˜ íšŒê·€ê³„ìˆ˜ëŠ” 0.6463(p<0.05)ë¡œ, childì— ëŒ€í•˜ì—¬ ìœ ì˜ë¯¸í•œ ì˜ˆì¸¡ë³€ì¸ì¸ ê²ƒìœ¼ë¡œ ë‚˜íƒ€ë‚¬ë‹¤.']

### ëª¨ë¸êµ¬ì¶•

In [44]:
parent = 68.8976
23.9415 + 0.6463 * parent

68.47001888

In [45]:
ols_result3.fit.predict({"parent": [68.8976]})

0    68.4694
dtype: float64

### ê³„ìˆ˜ë¥¼ ë¦¬í„´ë°›ê¸°

In [46]:
b, a = ols_result3.fit.params
b + a * 68.8976

68.469400182378