# Series 자료형

01. Pandas 패키지
직관적인 관계형 또는 분류된 데이터로 작업할 수 있도록 설계된 빠르고 유연하며 표현이 풍부한 데이터 구조를 제공하는 python 패키지

1) 판다스가 사용되는 경우
SQL 테이블 또는 엑셀에서와 같이 이질적으로 유형이 지정된 열이 있는 테이블 형식 데이터
정렬되고 정렬되지 않는 시계열 데이터
행 및 열 레이블이 포함된 임의의 행렬 데이터
일반적인 통계 데이터세트

2) 판다스 데이터 구조 
1차원 - Series 균일한 유형이 배열로 표시된 1차원 데이터
2차원 - DataFrame 행과 열이 있는 크기가 가변적인 테이블 형식의 2차원 데이터

02. Series 자료형
1) 시리즈 자료형의 구조
list > numpy array > series 순으로 기능이 확장된다.
인덱스를 명시적으로 포함하고 있는 형태이며 엑셀의 열 하나를 표현

In [1]:
from pandas import Series

In [2]:
# 기본 시리즈 만들기
# 리스트나 numpy 배열을 통해 생성할 수 있다. 시리즈는 리스트 자료형을 가공하여 생성된 데이터 구조
items = [10,30,50,70,90]
column = Series(items)
column

0    10
1    30
2    50
3    70
4    90
dtype: int64

In [3]:
print(column[1])
print(column[3])

30
70

In [4]:
# 시리즈의 값만 추출
column.values

array([10, 30, 50, 70, 90], dtype=int64)

In [6]:
# 값에 대한 데이터 타입 확인
type(column.values) # numpy배열

numpy.ndarray

In [7]:
# list 자료형으로 변환
mylist = list(column.values)
mylist

[10, 30, 50, 70, 90]

In [8]:
# 시리즈의 색인만 추출
column.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
# 색인의 데이터 타입 확인
type(column.index)

pandas.core.indexes.range.RangeIndex

In [10]:
# 색인을 리스트로 변환
mylist = list(column.index)
mylist

[0, 1, 2, 3, 4]

In [11]:
# 조건 검색 이름[이름에 대한 조건식]
in1= column[column>30]
in1

2    50
3    70
4    90
dtype: int64

In [12]:
# and 검색
in2 = column[column < 70][column>10]
in2

1    30
2    50
dtype: int64

In [13]:
# or 검색
in3 = column[(column < 70)|(column>10)]
in3

0    10
1    30
2    50
3    70
4    90
dtype: int64

3) 시리즈 연산

In [14]:
# 인덱스를 직접 지정하면서 시리즈 만들기

week1 = Series([29000,31000], index=['sat','sun'])
week1

sat    29000
sun    31000
dtype: int64

In [15]:
week2 = Series([31000,38000], index=['sun','sat'])
week2

# 시리즈 객체의 사칙연산 index가 동일한 항목끼리 연산이 수행된다
merge = week1 + week2 
merge

sat    67000
sun    62000
dtype: int64