# DataFrame 내보내기
##### DataFrame을 Excel이나 CSV 형식으로 저장하기
VScode에서의 결과 확인을 위해 Excel viewer Extention 설치 권장

In [2]:
from pandas import read_excel

In [3]:
# 02 데이터 준비
df = read_excel('https://data.hossam.kr/grade.xlsx',index_col='이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

데이터 내보내기

### 1) 엑셀 그대로 내보내기

In [4]:
# 원본파일 그대로 저장하기
df.to_excel('1.xlsx')

In [7]:
# 파라미터 설정 (인덱스를 포함하는 경우)
df.to_excel('2.xlsx',
            index=True, # 인덱스 포함여부(생략시 True)
            index_label='이름') # 생략시 빈칸

# 파라미터 설정 (인덱스를 포함하지 않는 경우)
df.to_excel('3.xlsx',
            index=False, 
            columns=['학년','성별','국어'], # 저장하고 싶은 컬럼만 지정
            header=['level','sex','kor'])  # 바꾸고 싶은 제목으로 설정

### 2) csv로 내보내기
##### encoding을 설정하는 것 외에는 엑셀 파일을 내보내는 것과 동일하다

In [10]:
df.to_csv('1.csv',encoding='utf-8')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

In [11]:
# 파라미터 설정 (인덱스를 포함하는 경우)
df.to_csv('2.csv',
          encoding='utf-8',
            index=True, # 인덱스 포함여부(생략시 True)
            index_label='이름') # 생략시 빈칸

# 파라미터 설정 (인덱스를 포함하지 않는 경우)
df.to_csv('3.csv',
          encoding='utf-8',
            index=False, 
            columns=['학년','성별','국어'], # 저장하고 싶은 컬럼만 지정
            header=['level','sex','kor'])  # 바꾸고 싶은 제목으로 설정

In [12]:
# 실습 결과물 모두 삭제
import os
import glob as gl

list1 = gl.glob('*.xlsx')
list2 = gl.glob('*.csv')
list3 = list1 + list2
for i in list3 :
    os.remove(i)
    print(f'{i}가 삭제됨'.format(i=i))

1.xlsx가 삭제됨
2.xlsx가 삭제됨
3.xlsx가 삭제됨
1.csv가 삭제됨
2.csv가 삭제됨
3.csv가 삭제됨