In [6]:
import os
from pandas import DataFrame

In [2]:
os.getcwd()

'd:\\이지선\\megait-data\\F.데이터_마이닝\\03_tensorflow'

In [ ]:
'd:\\이지선\\megait-data\\F.데이터_마이닝\\03_tensorflow\\newsData'

In [3]:
categories = os.listdir('newsData')
categories

['IT_과학', '경제', '사회', '생활_문화', '세계', '정치']

In [7]:
data = []

for cate in categories:
    # 카테고리 폴더 안에 있는 텍스트 파일 목록 가져오기
    files = os.listdir('newsData/'+cate)
    print("%s 폴더 내의 기사 개수: %d개" % (cate, len(files)))
    
    # 파일별로 기사 내용 읽어서 하나의 파일로 만들기
    for file in files:
        f = open('newsData/'+cate+'/'+file, 'r', encoding='utf-8')
        content = f.readlines()
        f.close()
        
        #print(content)
        for c in content:
            tmp = c.strip().replace(u'\xa0', u' ').replace(u'\t', u' ')
            
            if len(tmp) < 1:
                continue
            
            item = {'category': cate, 'content': tmp}
            data.append(item)
            
        #print(data)
        
df = DataFrame(data)
df.head()

IT_과학 폴더 내의 기사 개수: 992개
경제 폴더 내의 기사 개수: 1180개
사회 폴더 내의 기사 개수: 1180개
생활_문화 폴더 내의 기사 개수: 570개
세계 폴더 내의 기사 개수: 1122개
정치 폴더 내의 기사 개수: 1190개

  category                                            content
0    IT_과학  “갤럭시S9 20만 원대, 아이폰6S 0원!” 모비톡, 가정의 달 이벤트 '갤럭시노...
1    IT_과학  '모비톡' 단독으로 진행되는 5월 가정의 달 이벤트에 이용자들의 폭발적인 반응이 나...
2    IT_과학  이 밖에도 '모비톡'은 '갤럭시노트8', 'V30' 구매 시 '닌텐도 스위치'를 증...
3    IT_과학  LG 그램’, 100만대 판매기념 한정판 나왔다 LG전자가 ‘그램’ 노트북 누적판매...
4    IT_과학  LG전자는 베스트샵 등 주요 매장에서 23일부터 그램 한정판 500대를 판매한다고 ...

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75031 entries, 0 to 75030
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  75031 non-null  object
 1   content   75031 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [9]:
df.to_excel('news.xlsx',index=False)