# 데이터 시각화 연습문제 (2) - 서브플롯

아래의 데이터는 `2020년 02월 05일`부터 `2023년 05월 31일`까지 서울시와 전국에 대한 코로나19의 누적 확진자, 일일 확진자, 누적 사망자에 대한 조사자료 일부이다.

| 서울시 기준일    | 서울 확진자  | 서울시 일일 확진 | 서울시 사망 | 전국 확진    | 전국 일일 확진 | 전국 사망 |
|------------|---------|-----------|--------|----------|----------|-------|
| 2023-05-31 | 6204277 | 5987      | 6492   | 31703511 | 24411    | 34784 |
| 2023-05-30 | 6198290 | 3326      | 6486   | 31679100 | 13529    | 34767 |
| 2023-05-29 | 6194964 | 1393      | 6485   | 31665571 | 6868     | 34760 |
| 2023-05-28 | 6194964 | 1393      | 6485   | 31665571 | 6868     | 34760 |
| 2023-05-27 | 6191196 | 4078      | 6485   | 31647238 | 17796    | 34784 |

전체 데이터는 아래의 URL에서 확인할 수 있다.

> https://data.hossam.kr/D01/covid19.xlsx

## 그래프 요구사항

아래의 내용을 모두 반영한 그래프를 생성하세요.

사용자로부터 날짜를 yyyymmdd의 8자리 문자열로 입력받은 후 그 날짜를 시작으로 1주일간의 데이터를 추출하시오.
2행 1열의 서브플롯을 만들고 각각의(!!!) 그래프 영역에 대한 twinx를 생성하시오.
첫 번째 영역에는 서울시의 누적 확진자와 일일 확진자 변동 추이를 확인할 수 있는 시각화 자료를 생성하시오.
두 번째 영역에는 전국에 대한 누적 확진자와 일일 확진자 변동 추이를 확인할 수 있는 시각화 자료를 생성하시오.
누적 확진자는 y축을 왼쪽으로 설정한 막대그래프로 표시하고 일일 확진자는 y축을 오른쪽으로 설정한 시계열 그래프(날짜에 따른 변동추이)로 생성해야 합니다.
seaborn을 활용하여 구현하세요.
아래의 예시와 최대한 비슷하게 구현하면 됩니다.



> 그래프 출처: 질병관리청 (https://ncov.kdca.go.kr/bdBoardList_Real.do)

In [39]:
from matplotlib import pyplot as plt
from pandas import DataFrame, read_excel, pivot_table
import numpy as np

In [40]:
plt.rcParams['font.family'] = "Malgun Gothic"
plt.rcParams['font.size'] = 12
plt.rcParams['figure.figsize'] = (20,5)
plt.rcParams['axes.unicode_minus'] = False

In [41]:
df = read_excel('https://data.hossam.kr/D01/covid19.xlsx')
df

        서울시 기준일   서울 확진자  서울시 일일 확진  서울시 사망       전국 확진  전국 일일 확진  전국 사망
0    2023-05-31  6204277     5987.0    6492  31703511.0   24411.0  34784
1    2023-05-30  6198290     3326.0    6486  31679100.0   13529.0  34767
2    2023-05-29  6194964     1393.0    6485  31665571.0    6868.0  34760
3    2023-05-28  6194964     1393.0    6485  31665571.0    6868.0  34760
4    2023-05-27  6191196     4078.0    6485  31647238.0   17796.0  34784
...         ...      ...        ...     ...         ...       ...    ...
1207 2020-02-09       10        0.0       0        27.0       0.0      0
1208 2020-02-08       10        0.0       0        24.0       0.0      0
1209 2020-02-07       10        0.0       0        24.0       0.0      0
1210 2020-02-06       11        0.0       0        24.0       0.0      0
1211 2020-02-05        8        0.0       0        18.0       0.0      0

[1212 rows x 7 columns]