# 로지스틱 회귀





선형 모형이 S형 곡선
시그모이드 라고 한다.

In [6]:
from pandas import read_excel, DataFrame
from statsmodels.formula.api import logit
from sklearn.metrics import confusion_matrix,roc_curve,roc_auc_score
import seaborn as sb
from matplotlib import pyplot as plt
import numpy as np

In [7]:
plt.rcParams['font.family'] = "Malgun Gothic"
plt.rcParams['font.size'] = 12
plt.rcParams['figure.figsize'] = (20,5)
plt.rcParams['axes.unicode_minus'] = False

데이터 가져오기

In [8]:
df = read_excel("https://data.hossam.kr/E05/gradeuate.xlsx")
df

     합격여부  필기점수  학부성적  병원경력
0       0   380  3.61     3
1       1   660  3.67     3
2       1   800  4.00     1
3       1   640  3.19     4
4       0   520  2.93     4
..    ...   ...   ...   ...
395     0   620  4.00     2
396     0   560  3.04     3
397     0   460  2.63     2
398     0   700  3.65     2
399     0   600  3.89     3

[400 rows x 4 columns]

## 기본 분석

### 로지스틱회귀 수행

In [10]:
df1 = df.copy()
df1.head()

   합격여부  필기점수  학부성적  병원경력
0     0   380  3.61     3
1     1   660  3.67     3
2     1   800  4.00     1
3     1   640  3.19     4
4     0   520  2.93     4

In [12]:
model = logit('합격여부~필기점수+학부성적+병원경력',data=df1)
fit = model.fit()
print(fit.summary())

Optimization terminated successfully.
         Current function value: 0.574302
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                   합격여부   No. Observations:                  400
Model:                          Logit   Df Residuals:                      396
Method:                           MLE   Df Model:                            3
Date:                Mon, 31 Jul 2023   Pseudo R-squ.:                 0.08107
Time:                        11:00:53   Log-Likelihood:                -229.72
converged:                       True   LL-Null:                       -249.99
Covariance Type:            nonrobust   LLR p-value:                 8.207e-09
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -3.4495      1.133     -3.045      0.002      -5.670      -1.229
필기점수           0.0023      0.001      2.101      0.036       0.000       0.004
학부성적           0.7770      0.327      2.373      0.018       0.135       1.419
병원경력          -0.5600      0.127     -4.405      0.000      -0.809      -0.311
==============================================================================

### 로지스틱 회귀의 설명력: 의사결정계수(Pseudo-R2)

종속변수의 분산 중 어느 정도 비율(%)이 독립변수에 의해 설명되는가를 나타내는 값

In [13]:
fit.prsquared

0.08107331586891464